html,
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  position: relative;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.add-color {
  position: absolute;
  top: 16px;
  right: 16px;
  background: #4fe01e;
  border-radius: 50%;
  border: none;
  font-size: 24px;
  width: 36px;
  height: 36px;
  color: white;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  outline: none;
  z-index: 10000;
  cursor: pointer;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.circle {
  position: relative;
  border-radius: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  margin-bottom: 30px;
}

.color-circle {
  position: absolute;
  top: 0;
  height: 300px;
  width: 300px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
  border-radius: 50%;
  z-index: 1;
}

.point {
  position: absolute;
  top: -15px;
  left: calc(50% - 15px);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid #eee;
  z-index: 999;
}

.brightness-board {
  position: absolute;
  width: 300px;
  height: 300px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
  border-radius: 50%;
  z-index: 0;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 11px;
}

.form > label {
  min-width: 100px;
}

.form > input[type="range"] {
  margin-right: 8px;
  min-width: 100px;
}

.form > input[type="number"] {
  width: 45px;
  font-size: 11px;
}

.form input[type="number"] + span {
  margin-left: 5px;
}

.result {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 10px;
  width: 355px;
  max-height: 240px;
  overflow: auto;
  overflow-x: hidden;
}

@media (min-width: 750px) {
  .result {
    width: 500px;
  }
}

.result .result-board {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 8px;
  width: 105px;
  height: 120px;
}

.result .result-board .color-board {
  width: 105px;
  height: 70px;
  border-radius: 16px;
  cursor: pointer;
}

.result .result-board .color-board.selected {
  border: 3px solid yellow;
}

.result .result-board .result-title {
  width: 105px;
  display: inline-block;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.result .result-board .result-title input {
  border: none;
  margin-top: 8px;
  outline: none;
}
/*# sourceMappingURL=style.css.map */