html,
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  position: relative;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  touch-action: pinch-zoom;
}

.add-color {
  position: absolute;
  top: 16px;
  right: 16px;
  background: #4fe01e;
  border-radius: 50%;
  border: none;
  font-size: 24px;
  width: 36px;
  height: 36px;
  color: white;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  outline: none;
  z-index: 10000;
  cursor: pointer;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.circle {
  position: relative;
  border-radius: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  margin-bottom: 30px;
}

.lightness-change {
  position: relative;
  cursor: pointer;
  .lightness-canvas {
    // position: relative;
    border: 1px solid black;
    border-radius: 16px;
    // z-index: 9999;
  }

  .stick {
    position: absolute;
    width: 10px;
    height: 25px;
    top: 0px;
    left: 50%;
    border: 2px solid #ddd;
    // z-index: 0;
  }
}

.color-circle {
  position: absolute;
  top: 0;
  height: 250px;
  width: 250px;
  box-sizing: border-box;
  cursor: pointer;
  border-radius: 50%;
  z-index: 1;
}

.point {
  position: absolute;
  top: -15px;
  left: calc(50% - 15px);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid #eee;
  z-index: 999;
}

.brightness-board {
  position: absolute;
  width: 250px;
  height: 250px;
  box-sizing: border-box;
  cursor: pointer;
  border-radius: 50%;
  z-index: 0;
}

.form {
  display: flex;
  align-items: center;
  font-size: 11px;

  > label {
    min-width: 100px;
  }

  > input[type="range"] {
    margin-right: 8px;
    min-width: 100px;
  }

  > input[type="number"] {
    width: 45px;
    font-size: 11px;
  }

  input[type="number"] + span {
    margin-left: 5px;
  }
}

.result {
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 10px;
  width: 355px;
  max-height: 240px;
  overflow: auto;
  overflow-x: hidden;
  touch-action: none;

  @media (min-width: 750px) {
    width: 500px;
  }

  .result-board {
    position: relative;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    margin-right: 8px;
    width: 105px;
    height: 120px;

    .color-board {
      width: 105px;
      height: 70px;
      border-radius: 16px;
      cursor: pointer;

      &.selected {
        border: 3px solid yellow;
      }
    }
    .result-title {
      width: 105px;
      display: inline-block;
      flex-direction: column;

      input {
        border: none;
        margin-top: 8px;
        outline: none;
      }
    }
  }
}
